langchain==0.2.11
fastapi
uvicorn
python-dotenv
pydantic
requests
google-api-python-client
google-auth
google-auth-oauthlib
dateparser
tqdm
streamlit
langchain-community
langchain-google-genai==0.0.19 # Add this line
